{% extends 'index.html' %}
{% block content%}
    <div>
        <h2>Hello {{name}}!</h2>
<!--        <a href="/delete">Forget My Name</a>-->
        <br>
        <br>
        <form action="{{url_for('myname')}}" method="POST">

                <label>Enter your name: </label>
                <input type="text" name="name" placeholder="Type your name" >
                <br>
                <input type="submit" value="Track">

        </form>
    </div>
    <br>
    <div>
        <form action="{{url_for('data')}}" method="POST">
            <label>Enter a number: </label>
            <input type="text" name="number" value="" placeholder="Enter an integer">
            <br>
            <input type="submit" value="Let's count it!">
        </form>
    </div>
 {% endblock %}